.container {
  width: 100%;
  /* justify-self: center; */
  margin-left: 28rem;
}
.cartWrapper {
  position: relative;
}
.cart {
  cursor: pointer;
  color: #fff;
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  padding-right: 2rem;
  background-color: black;
  border: none;
}

.cartName {
  font-family: "condor", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.5rem;
  margin-right: 1rem;
}

@media (max-width: 1536px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
  .mainWrapper {
    margin-top: 0;
  }

  .container {
margin-left: 23rem;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 640px) {
 
}


@media (max-width: 584px) {
  .container {
    margin-left: 20rem;
  }
}

@media (max-width: 475px) {
  .container {
    margin-left: 15rem;
  }
}
