
/* Home Wrapper */
.homeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  margin-top: 13rem;
  margin-bottom: 5rem;
}

/* Image Wrapper */
.imageWrapper {
  width: 31%;

  overflow: hidden;
  /* margin: 0 auto; */
  border: solid #fff 3px;
}


/* Image  */
.imageWrapper .image {
  width: 100%;
  height: 100%;
}


/* Headline */

.headline {
 
  color: #fff;
  margin-top: 0.5rem;
  
}
/* Title */
.title {
  font-size: 1.75rem;
  font-family: "condor", sans-serif;
  font-weight: 700;
}



@media (max-width: 1536px) {

  .homeWrapper {
    margin-top: 12rem;
  }

  .imageWrapper {
    width: 44%;
    width: 36rem;
  }
}
@media (max-width: 1280px) {
  .homeWrapper {
    margin-top: 11rem;
  }
  .imageWrapper {
    width: 51%;
    width: 42rem;
  }
}
@media (max-width: 1024px) {
  .homeWrapper {
    margin-top: 11rem;
  }

  .title {
    font-size: 2rem;
  }

  .imageWrapper {
    width: 72%;
    width: 34rem;
  }
}

@media (max-width: 768px) {

  .homeWrapper {
    margin-top: 11rem;
  }

  .headline {
    margin-top: 1rem;
  }
  /* .title {
    font-size: 2rem;
  } */
  .imageWrapper {
    width: 82%;
    width: 34rem;
    margin-left: 1.5rem;
    /* justify-self: center; */
  }
}

@media (max-width: 640px) {
   .homeWrapper {
    /* display: grid;
    grid-template-rows: auto auto auto; */
    width: 100%;
    /* margin-top: 12rem;
    padding-left: 3rem;
    padding-right: 3rem; */
    width: 100%;
    display: flex;
    justify-content: center;
   }

   .imageWrapper {
    width: 28rem;
    margin-left:14px;
    
  }

  .title {
    font-size: 1.85rem;
  }


  .headline {
    position: static;
    justify-self: center;
  
  }
}
@media (max-width: 584px) {


}
@media (max-width: 475px) {


  .homeWrapper {
    margin-top: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .imageWrapper {
    width: 20rem;
    margin-left: 2rem;
    /* margin-right: 2rem; */
  }
  .headline {
    /* padding-left: 5.5rem;
    padding-right: 2.5rem; */
  }
  .title {
    white-space: nowrap;
    font-size: 1.2rem;
  }

 
}
