.homeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  margin-top: 6rem;
}

.imageWrapper {
  width: 34%;

  overflow: hidden;
  /* margin: 0 auto; */
}

.imageWrapper .image {
  width: 100%;
  height: 100%;
}



.headline {
 
  color: #fff;
  margin-top: 0.5rem;
  
}

.title {
  font-size: 2.5rem;
  font-family: "condor", sans-serif;
  font-weight: 700;
}

.subTitle {
  font-size: 1.5rem;
  font-family: "condor", sans-serif;
  font-weight: 300;
  margin-left: 7rem;
}

@media (max-width: 1536px) {
}
@media (max-width: 1280px) {
  .imageWrapper {
    width: 48%;
  }
}
@media (max-width: 1024px) {
  .homeWrapper {
    margin-top: 0;
  }

  .title {
    font-size: 3rem;
  }

  .imageWrapper {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .headline {
    bottom: 7.5rem;
  }
  .imageWrapper {
    width: 56%;
    justify-self: center;
  }
}

@media (max-width: 640px) {
   .homeWrapper {
    display: grid;
    grid-template-rows: auto auto auto;
    width: 100%;
    /* margin-top: 2rem; */
    padding-left: 3rem;
    padding-right: 3rem;
   }

   .imageWrapper {
    width: 70%;
  }

  .title {
    font-size: 2.2rem;
  }


  .headline {
    position: static;
    justify-self: center;
    /* align-self: flex-start;
    justify-self: center; */
    /* margin-top: 14rem; */
  }
}

@media (max-width: 475px) {

  .imageWrapper {
    width: 60%;
  }
  .headline {
    
  }
  .title {
    white-space: nowrap;
    font-size: 2.5rem;
  }

  .subTitle {
    margin-left: 0rem;
  }
}
