/* PRODUCT WRAPPER */

.productWrapper {
  background-color: white;
}

/* PRODUCT CONTAINER */
.productContainer {
  padding-top: 3rem;

  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 12rem;
  margin-top: 7rem;
}



@media (max-width: 1536px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}

@media (max-width:  768px) {

  .productContainer {
    margin-top: 10rem;
  }

  
}

@media (max-width: 640px) {
  .productContainer {
    margin-top: 5rem;
    padding-top: 0rem;
    grid-template-columns: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (max-width: 475px) {
  .productContainer {
    margin-top: 5rem;
    padding-top: 0rem;
    grid-template-columns: auto;
  }
  .productWrapper {
    background-color:#000;
    /* overflow: hidden; */
  }
}

@media (max-width: 400px) {
}
