/* Cover Wrapper */

.coverWrapper {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-top: 13rem;
  margin-top: 7rem;
}
/* Image Wrapper */
.imageWrapper {
  width: 52%;
  width: 48rem;

  justify-self: center;
  border: solid #fff 3px;
}
/* Image*/
.imageWrapper .image {
  width: 100%;
  height: 100%;
}

/* Cover Information */
.coverInformation {
  justify-self: center;
  align-self: flex-end;

  margin-bottom: 3rem;
  margin-top: 1rem;
  margin-right: 4rem;
}

/* Cover Title */
.coverTitle {
  font-family: "condor", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  color: #ffffff;
  white-space: nowrap;
  height: auto;
}

/* Cover SubTitle */
.coverSubTitle {
  font-family: "condor", sans-serif;
  font-weight: 200;

  font-size: 3.5rem;
  white-space: nowrap;
  color: #ffffff;

  height: auto;
  text-align: center;
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .productWrapper {
    padding-bottom: 11.5rem;
  }

  .imageWrapper {
    width: 40rem;

 
  }
}

@media (max-width: 768px) {
  .coverWrapper {
    margin-top: 10rem;
  }

  .imageWrapper {
   
    width: 34rem;
  }

  .coverInformation {
    margin-right: 0rem;
  }
  .coverSubTitle {
    text-align: left;
  }
}

@media (max-width: 640px) {
  .coverWrapper {
    margin-top: 10rem;
  }

  .imageWrapper {
    /* width: 80%; */
    /* width: 34rem;
    margin-left: 4rem; */
  }

  .coverTitle {
    font-size: 2.5rem;
  }

  .coverSubTitle {
    font-size: 2rem;
    text-align: left;
  }
}

@media (max-width: 475px) {
  .coverWrapper {
    margin-top: 10rem;
  }

  .imageWrapper {
    width: 87%;
    width: 24rem;
  }

  .coverInformation {
    align-self: center;

    margin-top: 1rem;
    margin-left: 4rem;
  }

  .coverTitle {
    font-size: 2.5rem;
  }

  .coverSubTitle {
    font-size: 2rem;
    text-align: left;
  }
}
