/* 
=================================================
   
    Image Container

===================================================
*/

.container {
  margin-left: 2rem;
  margin-top: 2rem;
  margin-right: 2rem;
  /* display: grid;
  grid-template-rows: 1fr 1fr; */
  display: flex;

  flex-direction: column;
}

.checkoutItems {
}

.checkoutFunctions {
  align-self: flex-start;
  color: #fff;
  display: grid;
  margin-top: 1rem;
  grid-row-gap: 1rem;
}

.miniCartItem {
  padding-top: 1rem;
  border-bottom: solid 1px white;
  padding-bottom: 1rem;
}
.miniCartWrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  color: white;
}
.imageWrapper {
  width: 100%;
  /* border-radius: 30px; */
  overflow: hidden;
}

.imageWrapper .image {
  width: 100%;
  height: 100%;
}

.productDetailsWrapper {
  /* margin-left: 2rem; */
  margin-left: 1.5rem;
  display: grid;
}
.productDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.productTitle {
  font-family: "condor", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  white-space: nowrap;
}
.checkoutFeatures {
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.productPrice {
  font-family: "condor", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  justify-self: flex-end;
}

.productQuantity {
  display: flex;
  font-family: "condor", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.productQuantityTitle {
  font-family: "condor", sans-serif;
  font-weight: 400;
  margin-rigth: 100px;

  display: inline-block;
  margin-right: 6px;
}


.checkoutFunctionsTitle {
    font-family: "condor", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    white-space: nowrap;
}

.checkoutFunctionsPrice {
    font-size: 2.5rem;
    font-family: "condor", sans-serif;
    font-weight: 400;
    /* font-size: 1.5rem; */
    white-space: nowrap;
    margin-bottom: 10px;
}
.checkOutParagraph {
    font-family: "condor", sans-serif;
    font-weight: 300;
}

/* Checkout Button  */

.pushable {
    background:  hsl(0,0%,75%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    margin-top: 2rem;
  } 
  .front {
    display: block;
    padding: 12px 25px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(0,0%,100%);
    color: black;
    font-family: "condor", sans-serif;
    font-weight: 500;
    transform: translateY(-6px);
    
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }


  .front a {
    text-decoration: none;
    color: #000;
  }


  .removeItem {
    background: transparent;
    color: white;
    border: none;
    font-family: "condor", sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    justify-self: flex-end;
  }