/* Nav Css Wrapper */
.nav {
  z-index: 2;
  background: transparent;
}

/* Nav Container */

.navContainer {
  background: transparent;
}
/* NAV Bar */

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: black;

  padding-bottom: 1rem;
  /* top: 16px; */
}

/* logoContainer */
.logoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  /* margin-bottom: 12px; */
}

/* logo */
.logo {
  text-decoration: none;
  color: #fff;
  font-size: 8rem;
  font-family: "condor", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  justify-self: center;

  grid-column: 1 / 4;
  font-size: 4.75rem;
  font-size: 6.35rem;
}


/* MENU WRAPPER */
.menuWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}


/* MENU CONTAINER */
.menuContainer {
  width: 52%;
  display: grid;
  grid-template-columns: 1fr 1fr;
   border-bottom: 4px solid #fff;
  border-top: 4px solid #fff;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 36rem;
  width: 48rem;
}


@media (max-width: 1880px) {

  .menuContainer {
    width: 52%;
    width: 48rem;
  }
}

@media (max-width: 1536px) {


  .logo {
   
    font-size: 6.5rem;
    font-size: 4.75rem;
  
  }

  .menuContainer {
    width: 60%;
    width: 50rem;
    width: 36rem;
  }
  
}
@media (max-width: 1280px) {
  .logo {
    white-space: nowrap;
    font-size: 5.5rem;
  }

  .menuContainer {
    width: 67%;
    width: 43rem;
  }
}
@media (max-width: 1024px) {
  .navBar {

    grid-template-rows: auto 11vh;

  }
  .logo {
    white-space: nowrap;
    font-size: 4.5rem;
    margin-top: 1rem;
 
  }

  .menuContainer {
    width: 52%;
    width: 35rem;
  }
}


@media (max-width: 768px) {}

@media (max-width: 640px) {
  .logo {
    /* font-size: 3.5rem; */
    margin-top: 1.5rem;
  }

  .logoContainer {
    margin-bottom: 12px;
  }


}


@media (max-width: 584px) {

  .logo {
    font-size: 3.5rem;
  }

  .menuContainer {
    /* width: 52%; */
    width: 29rem;
  }
}

@media (max-width: 475px) {
  .logo {
    font-size: 3rem;
    /* margin-top: 1.5rem; */

    /* display: none; */
  }

 

  .menuContainer {
    /* width: 52%; */
    width: 24rem;
  }
}
